.App {
}

.App-header {
  background-color: #309bf8;
  padding: 60px 0;
  color: white;
}

.App-title {
  font-size: 1.22em;
  font-weight: 400;
  margin: 0 150px;
  text-transform: uppercase;
}

.App-content {
  margin: 0 150px;
  padding: 70px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
